body {
  margin: 0;
  padding: 50pt 0 0 0;
}

h1.unstyled,
h2.unstyled {
  font-size: inherit;
  margin: inherit;
  padding: inherit;
}

/* Stuling for content select sections */
ul.content-list {
  list-style: none;
  padding-left: 0;
}

/* Heding styling */
.comment-h {
  color: rgb(47, 177, 203);
  font-family: monospace;
  font-weight: bold;
}
.comment-h::before {
  display: inline;
  width: fit-content;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  content: "// ";
}
