<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="./navBar.css" />
    <link rel="stylesheet" href="../../../CSS/style.css" />
    <title>Navbar-Tamplet</title>
  </head>

  <body>
    <nav id="nav-bar" aria aria-roledescription="navigation bar">
      <ul id="location-list" class="location-list">
        <li>JJ</li>
      </ul>
      <ul id="nav-list" class="nav-list">
        <li>
          <a href="./index.html" load-href="/index.html" id="home-nav">
            <div class="nav-lable">Home</div>
          </a>
        </li>
        <li>
          <a href="./games.html" load-href="/games.html" id="games-nav">
            <div class="nav-lable">Games</div>
          </a>
        </li>
        <li>
          <a href=",.blog.html" id="blog-nav">
            <div class="nav-lable">Blog</div>
          </a>
        </li>
        <li>
          <a href="./devlog.html" id="devlog-nav">
            <div class="nav-lable">Devlog</div>
          </a>
        </li>
        <li>
          <a href="" id="code-nav">
            <div class="nav-lable">Code</div>
          </a>
        </li>
        <li>
          <a href="/HTML/about.html" id="about-nav">
            <div class="nav-lable">About</div>
          </a>
        </li>
      </ul>
    </nav>
  </body>
</html>
