#nav-bar {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  height: 3em;
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;

  display: block;
  border-bottom: 1pt solid rgb(47, 177, 203);
}

/* location list styling */
#nav-bar ul.location-list {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  max-width: 400pt;
  float: left;
}

/* Navigation list */
#nav-bar ul.nav-list {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  column-gap: 2vw;
  max-width: 400pt;

  float: right;

  padding: 0;
  margin: 1em 4vw 1em 0;
}

#nav-bar ul.nav-list li {
  display: block;
  min-width: 50pt;
  max-width: 80pt;
}

#nav-bar ul.nav-list a {
  text-decoration: none;
  color: rgb(47, 177, 203);
  font-weight: 500;
  text-align: center;
  position: relative;

  transition: all 0.5s;
}

#nav-bar ul.nav-list a.select {
  color: black;
}
#nav-bar ul.nav-list a.select:before,
#nav-bar ul.nav-list a.select::after {
  color: rgb(47, 177, 203);
}
#nav-bar ul.nav-list a:hover {
  color: orange;
}

#nav-bar ul.nav-list a::before,
#nav-bar ul.nav-list a::after {
  display: block;
  font-weight: 600;
  position: absolute;
  top: 0;
  color: rgba(0, 0, 0, 0);
  transition: all 0.5s;
}
#nav-bar ul.nav-list a::before {
  content: "[";
  left: 0.25vw;
}
#nav-bar ul.nav-list a::after {
  content: "]";
  right: 0.25vw;
}
#nav-bar ul.nav-list a:hover::before,
#nav-bar ul.nav-list a:hover::after {
  color: black;
}
#nav-bar ul.nav-list a:hover::before {
  left: -0.5vw;
}
#nav-bar ul.nav-list a:hover::after {
  right: -0.5vw;
}

#nav-menu {
  float: right;
  margin-top: 0.25em;
  margin-right: 0.5em;
  padding: 0;

  font-size: 2em;

  background-color: rgba(0, 0, 0, 0);
  border: none;

  color: rgb(47, 177, 203);
  font-weight: 550;

  transition: all 0.5s;

  display: none;
}

#nav-menu:hover {
  color: orange;
  cursor: pointer;
}

#nav-back {
  margin-top: 1.275em;
  margin-left: 10pt;
  float: left;

  background-color: rgba(0, 0, 0, 0);
  border: none;

  color: rgb(47, 177, 203);
  font-weight: 550;

  position: relative;
  transition: all 0.5s;
}
#nav-back:hover {
  color: orange;
  cursor: pointer;
}
#nav-back::before {
  color: rgba(0, 0, 0, 0);
  content: "◀";
  transition: all 0.5s;

  position: absolute;
  right: 80%;
}
#nav-back:hover::before {
  color: black;
  right: 100%;
}

@media (max-width: 700px) {
  #nav-menu {
    display: inline-block;
  }
  #nav-bar ul.nav-list {
    grid-auto-flow: row;
    row-gap: 20pt;
    background-color: aliceblue;

    position: absolute;
    z-index: 500;
    right: 0;
    top: 100%;
    margin-top: 0;
    margin-right: 0;
    padding: 5pt 20pt;

    border-left: 5pt solid rgb(47, 177, 203);
    border-bottom: 1pt solid rgb(47, 177, 203);
    border-top: 1pt solid rgb(47, 177, 203);

    transform: translatex(100%);
    transition: transform 0.75s;
  }
  #nav-bar.nav-open ul.nav-list {
    transform: translatex(0);
  }

  /* Also hide while naimating */
  html.is-animating #nav-bar ul.nav-list {
    transform: translatex(100%);
    transition: transform 0.75s;
    transition-delay: 0.15s;
  }
  #nav-bar ul.nav-list li,
  html.is-animating #nav-bar.nav-open ul.nav-list li {
    transform: translatex(100%);
    transition: all 1s;
  }
  #nav-bar.nav-open ul.nav-list li {
    transform: translatex(0);
    transition: all 1s;
  }
}
