<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../clean.css" />
    <link rel="stylesheet" href="devlog.css" />
    <title>JJ/Dev-log</title>
  </head>
  <body class="max basic">
    <!-- Articel section ==============================================================================-->
    <template id="content-menu-wrapper">
      <link
        rel="stylesheet"
        href="/Templates/ContentMenuWrapper/menuWrapper.css"
        load-href="/Templates/ContentMenuWrapper/menuWrapper.css"
      />
      <article id="wrapper">
        <header class="content-head">
          <nav class="left-nav" aria-hidden="ture">
            <button id="index-button" onclick="ToggleIndex()">
              <div class="icon">&#9658;</div>
            </button>
            <label for="index-button" class="toggle-lable">
              <slot name="index-label" class="index-label"></slot
            ></label>
            <slot name="index-list"></slot>
          </nav>
        </header>
        <main class="content">
          <div class="time-line" aria-hidden="true"></div>
          <slot name="content-lable">Index</slot>
          <!--Give authot for microformat but no need to display this on the site-->
          <!-- Devlog articles start ---------------------------------->
          <slot name="content-list" class="content-list">
            Loading content...
          </slot>
        </main>
      </article>
    </template>
    <template id="content-li" class="not-automated">
      <li>
        <a>
          <slot name="title" class="link-h"></slot>
          <article class="time-marker"></article>
          <label for="time-marker"><slot name="date">date</slot></label>
          <slot name="summary" class="p-summary"></slot>
        </a>
      </li>
    </template>

    <!--================ Article wrappers ===========================-->
    <template id="other-article">
      <link
        rel="stylesheet"
        href="/Templates/ContentMenuWrapper/menuItem.css"
        load-href="/Templates/ContentMenuWrapper/menuItem.css"
      />

      <a class="content-item click-item">
        <article class="date-marker">
          <div class="marker"></div>
          <slot name="date" class="date">date</slot>
        </article>
        <article class="item-content">
          <div class="link-h"><slot name="title">Title</slot></div>
          <slot name="summary"></slot>
        </article>
      </a>
    </template>

    <template id="main-article">
      <link
        rel="stylesheet"
        href="/Templates/ContentMenuWrapper/menuItem.css"
        load-href="/Templates/ContentMenuWrapper/menuItem.css"
      />
      <div class="sub-t">
        <slot name="author" class="author sub-tilte"></slot>
      </div>
      <div class="sub-t"><slot name="date" class="date">date</slot></div>
      <h1 class="main-h p-name"><slot name="title">Title</slot></h1>

      <section class="e-content">
        <slot name="summary"></slot>
        <slot name="content"></slot>
        <article class="nav-buttons">
          <button class="prev-button" onclick="LoadPrev()">
            <div class="icon">&#x25BC;</div>
            previous
          </button>
          <button class="next-button" onclick="LoadNext()">
            <div class="icon">&#x25B2;</div>
            next
          </button>
        </article>
      </section>
    </template>

    <template id="local-article">
      <link
        rel="stylesheet"
        href="./Templates/ContentMenuWrapper/menuItem.css"
        load-href="/Templates/ContentMenuWrapper/menuItem.css"
      />
      <article class="content-item">
        <article class="date-marker">
          <div class="marker"></div>
          <slot name="date" class="date">date</slot>
        </article>
        <details id="log-details">
          <summary class="click-item">
            <h2 class="link-h"><slot name="title"></slot></h2>
            <slot name="summary"></slot>
          </summary>
          <!-- Devlog article content --------------------------------------->
          <article class="entry-content">
            <slot name="content"></slot>
          </article>
          <article class="close-buttons">
            <button class="close-button next-button">
              <div class="icon">&#x25B2;</div>
              next
            </button>
            <button class="close-button prev-button">
              <div class="icon">&#x25BC;</div>
              previous
            </button>
          </article>
        </details>
      </article>
    </template>

    <!--===========================================================-->
    <!------------ non-auntomated Templates ------------------------->
    <!--===========================================================-->

    <template id="log-template">
      <link rel="stylesheet" href="../../clean.css" />
      <link rel="stylesheet" href="devlog.css" />
      <slot name="date" class="entry-date"></slot>
      <details class="devlog-feed-deets" id="log-details">
        <summary>
          <h1 class="main-h dev-h"><slot name="title"></slot></h1>
          <section>
            <slot name="summary"></slot>
          </section>
        </summary>
        <!-- Devlog article content --------------------------------------->
        <article class="entry-content">
          <slot name="content"></slot>
        </article>
        <article class="close-buttons">
          <button class="close-button next-button">
            <div class="icon">&#x25B2;</div>
            next
          </button>
          <button class="close-button prev-button">
            <div class="icon">&#x25BC;</div>
            previous
          </button>
        </article>
      </details>
    </template>

    <template id="index-entry-template" class="not-automated">
      <li>
        <a
          href=""
          class="u-nav blog-nav blog-h p-name"
          id="entry-link"
          onclick="//CloseCheckbox('index-toggle')"
          >Loading...</a
        >
      </li>
    </template>
  </body>
</html>
<!--============================================================-->
<!-----------------------Demo Tempaltes--------------------------->
<!--============================================================-->
<template id="my-first-template">
  <h1>I am a template</h1>
  <p>Isn't that cool!</p>
</template>
<template id="another-template">
  <style>
    .template-block {
      display: block;
      width: fit-content;
      background-color: aliceblue;
      padding: 20px;
      margin: 10px auto;
      border: 1px solid rgb(47, 177, 203);
    }
  </style>
  <div class="template-block">
    <slot name="custom-content">This content will be replaced</slot>
    <p>This content will remain.</p>
  </div>
</template>
