<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <script src="/JavaScript/External/Prism/prism.js"></script>
    <link rel="stylesheet" href="/CSS/prism.css" />

    <script src="/JavaScript/codeDisplay.js" defer></script>
    <link rel="stylesheet" href="/CSS/codeDisplay.css" />
  </head>
  <body>
    <code-display code-lang="language-HTML">
      <div>
        <span class="harry"> This is neat </span>
      </div>
      <script>
        console.log("noice!");
        function MMM() {
          let ooh = "cool";
        }
      </script>
      <style>
        .harry {
          color: pink;
        }
      </style>
    </code-display>
    <code-display>
      <div>
        <span class="rigto"> This is neat </span>
      </div>
    </code-display>
    <code-display>
      <div>
        <span class="rigto"> This is neat </span>
      </div>
    </code-display>
    <pre>
<code class="language-HTML">
    &lt;span class="noice"&gt; This is coole &lt;\span&gt;
    &lt;script&gt;
       
    &lt;\script&gt;
</code>

</pre>
    <pre><code class="language-javascript">console.log("how smart are we?");</code></pre>
  </body>
</html>
